{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Fresh Keeper</h1>
    <p class="lead">Fresh Keeper is an application which help you find the freshest and tastiest food in the fastiest way.</p>
    <p><a class="btn btn-default" href="{{url_for('Main')}}">Getting Started &raquo;</a></p>
</div>

<!--<div class="row">
    <div class="center-block">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Getting Started &raquo;</a></p>
    </div>
</div>-->

{% endblock %}
